.userShippingContainer {
  display: flex;
  margin-top: 30px;
  width: 100%;            
  justify-content: space-between;
}

.userShippingContainer .userShippingRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userShippingContainer .userShippingTop {
  display: flex;
  justify-content: space-between;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2); 
}
.userShippingContainer .userShippingTop .userShippingDesc {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
  margin-left: 10px;
  color: #50589C;
}
.userShippingContainer .userShippingTop .userShippingDesc span{
  font-size: 15px;
  font-style: italic;
}

.userShippingContainer .userShippingSideBar {
  width: 10%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  justify-content: space-between;
}

.ag-theme-alpine {
  --ag-wrapper-border-radius: 0;
}
